html, body, #app {
    height: 100%;
    margin: 0;
}
#app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#app form{
    background: green;
    padding: 20px;
}

span{
    color: orange;
}